.hero-section {
  background-image: url("../img/bg-hero");
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  width: 1280px;
  height: 737px;
}

.color {
background-color: #3a3939;
}

.span-light, .span-bold {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.span-light {
  font-weight: lighter;
  border-bottom: 1px solid #ffffff;
}

.span-bold {
  font-weight: bold;
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    width: 400px;
    margin: auto;
  }

.letra-tarjetas {
  font-family: "Swanky and Moo Moo", sans-serif;
  font-weight: 400;
}
